<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sensorupdater3"
    android:versionCode="1"
    android:versionName="1.0" >

    <!-- App receives GCM messages. -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <!-- GCM connects to Google Services. -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- GCM requires a Google account. -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- Keeps the processor from sleeping when a message is received. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />   

</manifest>